p.is-style-h5, .editor-styles-wrapper p.is-style-h5, h1.is-style-h5, .editor-styles-wrapper h1.is-style-h5, h2.is-style-h5, .editor-styles-wrapper h2.is-style-h5, h3.is-style-h5, .editor-styles-wrapper h3.is-style-h5, h4.is-style-h5, .editor-styles-wrapper h4.is-style-h5, h5.is-style-h5, .editor-styles-wrapper h5.is-style-h5, h6.is-style-h5, .editor-styles-wrapper h6.is-style-h5 {
  color: var(--wp--preset--color--first);
  font-size: var(--wp--preset--font-size--xxl);
  font-family: var(--wp--preset--font-family--first);
  letter-spacing: var(--wp--custom--letter-spacing--l);
  line-height: var(--wp--custom--line-height--s);
  font-weight: 500;
}
