p.is-style-h5, h1.is-style-h5, h2.is-style-h5, h3.is-style-h5, h4.is-style-h5, h5.is-style-h5, h6.is-style-h5 {
  color: var(--wp--preset--color--first);
  font-size: var(--wp--preset--font-size--xx-large);
  font-family: var(--wp--preset--font-family--second);
  letter-spacing: var(--wp--custom--letter-spacing--l);
}
